:root {
  --white: #fff;
  --blue: blue;
  --lightblue: lightblue;
}

*{
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

/* BG COLORS */
.bg-white {
  background-color: var(--white);
}

/* FIN BG COLORS */

/* NAVBAR */

.navbar-bee-market {
  background-color: var(--white);
  padding: 0;
  height: 4rem;
  padding-right: 3rem;
}

.content-navbar {
  background-color: var(--lightblue);
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  padding-right: 0;
}

.navbar-brand img {
  background-color: teal;
}

.navbar-bee-market .navbar-collapse {
  background-color: orange;
}

.input-search {
  background-color: pink;
  width: 20rem;
  margin-left: auto;
}

.input-search .form-control {
  background-color: yellow;
}



/* FIN NAVBAR */
